@charset "utf-8";

/* Main Body*/

	body, html {
	  	height: 100%;
	 	margin: 0;
	  	color: #777;
		}

/*  ------------------------------ Sliding Effects ------------------------------ */

	/* Settings Rule Slideout */
	
	.rulesleft {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		text-align: center;
		transform: translateX(-100%);
		transition: transform 0.6s ease;	
		}
	
	.rulesleft.open {
		transform: translateX(0);
		/* overflow: scroll;*/
		}
	
	/* Playing Slide Out */

	.page-content {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		transform: translateY(0);
		transition: transform 0.8s ease;
		}
	
	.page-content.open {
		transform: translateY(-100%);
		}
	
	.playing {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		text-align: center;
		transform: translateY(100%);
		transition: transform 0.8s ease;	
		}
	
	.playing.open {
		transform: translateY(0);
		}
	
	/* Playing Rule Slide Out */
	
	.rulesright {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		text-align: center;
		transform: translateX(100%);
		transition: transform 0.6s ease;	
		}
	
	.rulesright.open {
		transform: translateX(0);
		/* overflow: scroll;*/
		}
	
	/* Next Button Slide Down */
	
	.rulenext {
		position: fixed;
		transform: translateY(100%);
		transition: transform 0.3s ease;	
		}
	
	.rulenext.open {
		transform: translateY(0);
		}




/*  ------------------------------ Default ------------------------------ */

/*Home Page */

	/* Background Video */
	
	header {
  	  	position: relative;
   	 	background-size: cover;
   		background-position: 50% 50%;
   	 	height: 100%;
    	z-index: 0;
		}

	header video {
   		-webkit-transform: translateX(-50%) translateY(-50%);
   	 	-moz-transform: translateX(-50%) translateY(-50%);
    	-ms-transform: translateX(-50%) translateY(-50%);
   	 	-o-transform: translateX(-50%) translateY(-50%);
   		transform: translateX(-50%) translateY(-50%);
   		position: absolute;
   		top: 50%;
  		left: 50%;
   		min-width: 100%;
   		min-height: 100%;
   		width: auto;
   	 	height: auto;
   		z-index: -100;
		opacity: 0.65;	
		background-image: url("./Images/ducreux1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		}

	/* Setting Button */
	
	.settings {
		font-size: 50px;
		color: #8C489F;
		position: absolute;
		left: 5%;
		top: 5%;
		text-decoration:  none;
		cursor: pointer;
		}
	
	.settings:hover {
		color:#B387C1;
		font-size: 50px;
		}

	/* Logo and Tagline */
	
	.homescreen {
		position: absolute;
		top: 30%;
		margin: 0 auto;
		width: 100%;
		height: 600px;
	    }
	
	.logo-spot span.border {
	  	background-color: #8C489F;
	  	color: #fff;
	  	padding: 17px;
	  	font-size: 40px;
	  	letter-spacing: 10px;
		font-family: 'Fredoka One', cursive;
		}
	
	.tagline-spot {
	  	width: 100%;
	 	text-align: center;
	  	color: #000;
		padding-top: 30px;
		}
	
	.tagline {
		color: #fff;
		font-size: 20px;
		padding-bottom: 10px;
		font-family: 'Itim', bold;
		}
	
	h3 {
	 	letter-spacing: 5px;
	  	text-transform: uppercase;
	  	font: 20px "Lato", sans-serif;
	  	color: #111;
		}
		
	/* Play Button */
	
	.button-play-top-spot {
	  	left: 0;
	  	padding-top: 100px;
	  	width: 100%;
	  	text-align: center;
	  	color: #000;
	    }
	
	.button-play-top {
		background-color: #8C489F; /* Purple */
		border: none;
		color: white;
		padding: 15px 35px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 30px;
		outline: none;
		font-family: 'Itim', bold;
		cursor: pointer;
	    }
	
	.button-play-top:hover { 
		Background:#B387C1 /* Light Purple | Green was interesting too (#9C0) */
	    }

/* Sidebar Settings */

	/* Settings Text */
	
	.main-navigation {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		text-align: center;
		transform: translateX(-100%);
		transition: transform 0.6s ease;
		}
	
	.main-navigation.open {
		transform: translateX(0);
		}
	
	.settinglist {
		position: absolute;
		top: 30%;
		margin: auto;
		width: 100%; 
		list-style-type: none;
		}
	
	#settinglink {
		font-size: 30px;
		color: grey;
		padding: 10px;
		cursor: pointer;
		}
	
	#settinglink:hover {
		color: light grey;
		}
	
	/* Close Settings */
	
	.settingclose {
		color: #8C489F;
		font-size: 45px;
		position: absolute;
		right: 5%;
		top: 5%;
		cursor: pointer;
		}
	
	.settingclose:hover {
		color: #B387C1;
		}
	
/* Playing Page */

	/* Rule Button */

	#ruleicon {
		font-size: 55px;
		color: #8C489F;
		position: absolute;
		right: 5%;
		top: 5%;
		text-decoration:  none;
		cursor: pointer;
		}
	
	#ruleicon:hover {
		color:#B387C1;
		}	
	
	/* Home Button */

	.backbutton {
		color: #8C489F;
		position: absolute;
		left: 5%;
		top: 5%;
		text-decoration:  none;
		font-size: 50px;
		cursor: pointer;
		}
	
	.backbutton:hover {
		color:#B387C1;
		}
	
	a:link {
    	text-decoration: none;
		font-size: 50px;
		}

	a:visited {
    	text-decoration: none;
		}

	a:hover {
    	text-decoration: none;
		color: B387C1;
		}

	a:active {
    	text-decoration: none;
		}
	
	/* Cards */
	.cards{
     	position: absolute;
	 	top: 15%;
	 	width: 100%;
	 	}
	
	.cardbackground {
		background-color: #FFFFFF;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		width: 306px;
		height: 510px;
		box-shadow: 3px 3px 15px lightgrey;
		border-radius: 30px;
		}
	
	
	.fingeroncard {
		color: #8C489F;
		margin: auto;
		font-size: 50px; 
		}
	
	.cardaction {
		width: 230px;
		margin: auto;
		font-size: 20px;
		word-wrap: break-word;
		padding-top: 50px;
		}
	
     #compass{
        /* width:100%; */
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
      	}

	/* Next Button */
	
	.button-next {
		background-color: #8C489F; /* Purple */
		border: none;
		color: white;
		padding: 15px 37px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 30px;
		width: 100%;
		bottom: 0;
		outline: none;
		font-family: 'Itim', bold;
		text-decoration:  none;
		border-radius: 0px;
		}
	
	.button-next:hover { 
		Background:#B387C1; /* Light Purple | Green was interesting too (#9C0) */
		color: white; 
		text-decoration:  none;
		outline: none;
		}
	
	.button-next:active { 
		color: white; 
		text-decoration:  none;
		outline: none;
		}
	
	.button-next:visited { 
		color: white; 
		text-decoration:  none;
		outline: none;
		}
		
/* Rule Page */

	.RulePage {
	 	position: absolute;
	 	top: 10%;
	 	width: 100%;
	 	margin: auto;
	 	font-size: 20px;
	 	text-align: center;
		}
		
	/* Playing Rules Close Button */
	
	.ruleclose {
		color: #8C489F;
		font-size: 45px;
		position: fixed;
		right: 5%;
		top: 5%;
		cursor: pointer;
		}
	
	.ruleclose:hover {
		color: #B387C1;
		}

	#rulecloseleft {
		color: #8C489F;
		font-size: 45px;
		position: fixed;
		left: 5%;
		top: 5%;
		cursor: pointer;
		}
	
	#rulecloseleft:hover {
		color: #B387C1;
		}

	.RuleTitle{
		font-size:40px;
		padding-bottom: 15px;
		height: 100%;
		color: #8C489F; 
		}
	
	.RuleList {
    	display: inline-block;
		text-align: left;
		}
	
	ol {
    	display: block;
    	padding: 0 0 0 45px;
    	list-style: none;
    	overflow: hidden;
    	counter-reset: numList;
		}

	li {
		padding: 10px;
  		color: grey;
		}

	ol li {
    	position: relative
		}
	
	ol li:before {
    	counter-increment: numList;
    	content: counter(numList);
    	float: left;
    	position: absolute;
    	left: -45px;
    	font: bold 20px sans-serif;
    	text-align: center;
    	color: #fff;
    	line-height: 30px;
    	width: 30px; height: 30px;
    	background: #8C489F;
    	-moz-border-radius: 999px;
    	border-radius: 999px
		}
	
	.UncleSam {
		padding-top: 40px;
		display: block;
  		max-width:300px;
  		max-height:300px;
  		width: auto;
  		height: auto;
		margin: auto;
		}


/*  ------------------------------ Width 600px - 3000px ------------------------------ */

@media (max-width: 3000px) and (min-height: 850px)  {

/* Playing */	

	/* Next Card Button */	
	.button-next {
		padding: 15px 30px;
		font-size: 30px;
		}
	
	/* Rule Button */
	#ruleicon {
		font-size: 55px;
		}

	/* Home Button */
	.backbutton {
		left: 5%;
		top: 5%;
		font-size: 50px;
		}
		
	.backbutton:hover {
		color:#B387C1;
		}
	
	/* Cards */
	.cardbackground {
		width: 390px;
		height: 650px;
		box-shadow: 3px 3px 15px lightgrey;
		border-radius: 30px;
		}
	
	.cards{
     	position: absolute;
	 	top: 15%;
	 	width: 100%;
	 	}
	
	.fingeroncard {
		font-size: 60px;
		}
	
	.cardaction {
		width: 220px;
		font-size: 22px;
		padding-top: 100px;
		}
	
}


/*  ------------------------------ Width 350px - 600px ------------------------------ */

@media (max-width: 600px) and (min-height: 731px)  {

/* Home Page */	

	/* Settings Button */		
	.settings {
		font-size: 40px;
		left: 5%;
		top: 5%;
		}
		
	.settings:hover {
		font-size: 40px;
		}
		
	/* Logo / Tagline */	
	.logo-spot span.border {
	  	padding: 15px;
	  	font-size: 30px;
	  	letter-spacing: 8px;
		}
		
	.tagline {
		position: static;
		font-size: 15px;
		padding-top: 25%;
		padding-bottom: 10px;
		}
		
	/* Play Button */
	.button-play-top-spot {
	  	padding-top: 150px;
	  	width: 100%;
	  	}
	
	.button-play-top {
		padding: 10px 30px;
		font-size: 30px;
		}	
	
/* Settings */
	
	.settingclose {
		font-size: 40px;
		right: 4%;
		top: 4%;
		}
	
	#settinglink {
		font-size: 23px;
		padding: 0px;
		width: 0%; 
		}
		
	.settinglist {
		padding-right:50px;
		}
	
/* Playing */	

	/* Next Card Button */	
	.button-next {
		padding: 15px 30px;
		font-size: 23px;
		}
	
	/* Rule Button */
	#ruleicon {
		font-size: 50px;
		}

	/* Home Button */
	.backbutton {
		left: 5%;
		top: 5%;
		font-size: 40px;
		}
		
	.backbutton:hover {
		color:#B387C1;
		}
	
	/* Cards */
	.cardbackground {
		width: 300px;
		height: 450px;
		box-shadow: 3px 3px 15px lightgrey;
		border-radius: 30px;
		}
	
	.cards{
     	position: absolute;
	 	top: 15%;
	 	width: 100%;
	 	}
	
	.fingeroncard {
		font-size: 50px;
		}
	
	.cardaction {
		width: 210px;
		font-size: 20px;
		padding-top: 50px;
		}
			
/* Rule Page */

	.RulePage {
	 	top: 10%;
	 	font-size: 20px;
		}
		
	/* Rules Close Button */
	.ruleclose {
		font-size: 40px;
		right: 4%;
		top: 4%;
		}

	#rulecloseleft {
		font-size: 40px;
		left: 4%;
		top: 4%;
		}

	/* Rules Text */
	.RuleTitle{
		font-size: 30px;
		padding-bottom: 15px;
		}
	
	ol {
    	padding: 0 0 0 27px;
		}

	li {
		padding: 13px;
		}

	/* Rules Bullets with Numbers */
	ol li:before {
    	left: -27px;
    	font: bold 20px sans-serif;
    	line-height: 24.5px;
    	width: 24px; height: 24px;
    	-moz-border-radius: 999px;
    	border-radius: 999px
		}
	
	/* Uncle Sam Photo */
	.UncleSam {
		padding-top: 20px;
		display: block;
  		max-width:250px;
  		max-height:250px;
  		width: auto;
  		height: auto;
		margin: auto;
		}
		
}


/*  ------------------------------ Height 730px ------------------------------ */

@media screen and (max-height: 730px) {
	
/* Home Page */	

	/* Settings Button */		
	.settings {
		font-size: 40px;
		left: 5%;
		top: 5%;
		}
		
	.settings:hover {
		font-size: 40px;
		}
		
	/* Logo / Tagline */	
	.logo-spot span.border {
	  	padding: 15px;
	  	font-size: 30px;
	  	letter-spacing: 8px;
		}
		
	.tagline {
		position: static;
		font-size: 13px;
		padding-top: 25%;
		padding-bottom: 10px;
		}
		
	/* Play Button */
	.button-play-top-spot {
	  	padding-top: 150px;
	  	width: 100%;
		}
	
	.button-play-top {
		padding: 10px 30px;
		font-size: 30px;
		}	
	
/* Settings */
	
	.settingclose {
		font-size: 40px;
		right: 4%;
		top: 4%;
		}
	
	#settinglink {
		font-size: 23px;
		padding: 0px;
		width: 0%; 
		}
		
	.settinglist {
		padding-right:35px;
		}
	
/* Playing */	

	/* Next Card Button */	
	.button-next {
		padding: 15px 30px;
		font-size: 23px;
		}
	
	
	/* Rule Button */
	#ruleicon {
		font-size: 50px;
		}

	/* Home Button */
	.backbutton {
		left: 5%;
		top: 5%;
		font-size: 40px;
		}
		
	.backbutton:hover {
		color:#B387C1;
		}
	
	/* Cards */
	.cardbackground {
		background-color: #FFFFFF;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		width: 270px;
		height: 400px;
		box-shadow: 3px 3px 15px lightgrey;
		border-radius: 30px;
		}
	
	.cards{
     	position: absolute;
	 	top: 15%;
	 	width: 100%;
	 	}
	
	.fingeroncard {
		font-size: 45px;
		}
	
	.cardaction {
		width: 200px;
		font-size: 18px;
		padding-top: 50px;
		}
				
/* Rule Page */

	.RulePage {
	 	top: 10%;
	 	font-size: 18px;
		}
		
	/* Rules Close Button */
	.ruleclose {
		font-size: 40px;
		right: 4%;
		top: 4%;
		}

	#rulecloseleft {
		font-size: 40px;
		left: 4%;
		top: 4%;
		}

	/* Rules Text */
	.RuleTitle{
		font-size: 30px;
		padding-bottom: 11px;
		}
	
	ol {
    	padding: 0 0 0 27px;
		}

	li {
		padding: 11px;
		}

	/* Rules Bullets with Numbers */
	ol li:before {
    	left: -27px;
    	font: bold 15px sans-serif;
    	line-height: 24.5px;
    	width: 24px; height: 24px;
    	-moz-border-radius: 999px;
    	border-radius: 999px
		}
	
	/* Uncle Sam Photo */
	.UncleSam {
		padding-top: 15px;
		display: block;
  		max-width:250px;
  		max-height:250px;
  		width: auto;
  		height: auto;
		margin: auto;
		}
	
}


/*  ------------------------------ Width > 359px ------------------------------ */

@media (max-width: 359px) and (min-height: 550px)  {
		
			
/* Home Page */	

	/* Settings Button */		
	.settings {
		font-size: 35px;
		left: 5%;
		top: 5%;
		}
		
	.settings:hover {
		font-size: 35px;
		}
	
	/* Logo / Tagline */	
	.logo-spot span.border {
	  	padding: 13px;
	  	font-size: 26px;
	  	letter-spacing: 7px;
		}
	
	.tagline {
		position: static;
		font-size: 11px;
		padding-top: 10%;
		padding-bottom: 10px;
		}
		
	/* Play Button */
	.button-play-top-spot {
	  	padding-top: 100px;
	  	width: 100%;
		}
	
	.button-play-top {
		padding: 8px 28px;
		font-size: 25px;
		}
	
	.button-play-top:hover { 
		Background:#B387C1;
		}
		
/* Settings */
	
	.settingclose {
		font-size: 35px;
		right: 4%;
		top: 4%;
		}
	
	#settinglink {
		font-size: 20px;
		padding: 0px;
		width: 100%; 
		}
		
	.settinglist {
		padding-right:50px;
		}
		
/* Playing */	

	/* Next Card Button */	
	.button-next {
		padding: 15px 30px;
		font-size: 23px;
		}
	
	/* Rule Button */
	#ruleicon {
		font-size: 40px;
		}
		
	/* Home Button */
	.backbutton {
		left: 5%;
		top: 5%;
		font-size: 35px;
		}
		
	.backbutton:hover {
		color:#B387C1;
		}
	
	/* Cards */
	.cardbackground {
		width: 190px;
		height: 300px;
		box-shadow: 3px 3px 15px lightgrey;
		border-radius: 30px;
		}
	
	.cards{
     	position: absolute;
	 	top: 15%;
	 	width: 100%;
	 	}
	
	.fingeroncard {
		font-size: 40px;
		}
	
	.cardaction {
		width: 150px;
		font-size: 14px;
		padding-top: 50px;
		}
			
/* Rule Page */

	.RulePage {
	 	top: 10%;
	 	font-size: 13px;
		}
		
	/* Rules Close Button */
	.ruleclose {
		font-size: 35px;
		right: 4%;
		top: 4%;
		}

	#rulecloseleft {
		font-size: 35px;
		left: 4%;
		top: 4%;
		}

	/* Rules Text */
	.RuleTitle{
		font-size: 20px;
		padding-bottom: 15px;
		}
	
	ol {
    	padding: 0 0 0 24px;
		}

	li {
		padding: 10px;
		}

	/* Rules Bullets with Numbers */
	ol li:before {
    	left: -24px;
    	font: bold 15px sans-serif;
    	line-height: 20.5px;
    	width: 20px; height: 20px;
    	-moz-border-radius: 999px;
    	border-radius: 999px
		}
	
	/* Uncle Sam Photo */
	.UncleSam {
		padding-top: 15px;
		display: block;
  		max-width:200px;
  		max-height:200px;
  		width: auto;
  		height: auto;
		margin: auto;
		}
				
}


/*  ------------------------------ Height 549px ------------------------------ */

@media screen and (max-height: 549px) {
	

/* Home Page */	

	/* Settings Button */		
	.settings {
		font-size: 35px;
		left: 5%;
		top: 5%;
		}
		
	.settings:hover {
		font-size: 35px;
		}
	
	/* Logo / Tagline */	
	.logo-spot span.border {
	  	padding: 13px;
	  	font-size: 26px;
	  	letter-spacing: 7px;
		}
	
	.tagline {
		position: static;
		font-size: 11px;
		padding-top: 10%;
		padding-bottom: 10px;
		}
		
	/* Play Button */
	.button-play-top-spot {
	  	padding-top: 70px; 
	  	width: 100%;
		}
	
	.button-play-top {
		padding: 8px 28px;
		font-size: 25px;
		}
	
	.button-play-top:hover { 
		Background:#B387C1;
		}
	
/* Settings */
	
	.settingclose {
		font-size: 35px;
		right: 4%;
		top: 4%;
		}
	
	#settinglink {
		font-size: 20px;
		padding: 0px;
		width: 0%; 
		}
		
	.settinglist {
		padding-right:50px;
		}
	
/* Playing */	

	/* Next Card Button */	
	.button-next {
		padding: 15px 30px;
		font-size: 23px;
		}
	
	/* Rule Button */
	#ruleicon {
		font-size: 40px;
		}

	/* Home Button */
	.backbutton {
		left: 5%;
		top: 5%;
		font-size: 35px;
		}
		
	.backbutton:hover {
		color:#B387C1;
		}
	
	/* Cards */
	.cardbackground {
		width: 200px;
		height: 280px;
		box-shadow: none;
		background-color: transparent; 
		border-radius: 30px;
		}
	
	.cards{
     	position: absolute;
	 	top: 15%;
	 	width: 100%;
	 	}
	
	.fingeroncard {
		font-size: 40px;
		}
	
	.cardaction {
		width: 150px;
		font-size: 14px;
		padding-top: 50px;
		}
			
/* Rule Page */

	.RulePage {
	 	top: 12%; 
	 	font-size: 13px;
		}
		
	/* Rules Close Button */
	.ruleclose {
		font-size: 35px;
		right: 4%;
		top: 4%;
		position: fixed;
		}

	#rulecloseleft {
		font-size: 35px;
		left: 4%;
		top: 4%;
		position: fixed;
		}

	/* Rules Text */
	.RuleTitle{
		font-size: 20px;
		padding-bottom: 15px;
		}
	
	ol {
    	padding: 0 0 0 24px;
		}

	li {
		padding: 10px;
		}

	/* Rules Bullets with Numbers */
	ol li:before {
    	left: -24px;
    	font: bold 15px sans-serif;
    	line-height: 20.5px;
    	width: 20px; height: 20px;
    	-moz-border-radius: 999px;
    	border-radius: 999px
		}
	
	/* Uncle Sam Photo */
	.UncleSam {
		padding-top: 15px;
		display: block;
  		max-width:200px;
  		max-height:200px;
  		width: auto;
  		height: auto;
		margin: auto;
		}
		
	.rulesleft.open {
		overflow: scroll;
		}
		
	.rulesright.open {
		overflow: scroll;
		}
				
}